footer.footer
    .footer__icon
        i.fab.fa-youtube
    //- how can I write javascript here? 
    span.footer__text #{siteName} &copy; #{new Date().getFullYear()} #{new Date().getMonth()} #{new Date().getDate()}
