/* https://github.com/markdowncss/splendor/blob/master/index.css */
@import "furtive-print";
@import "furtive-typescale";
@import "furtive-responsive-utils";

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: lightgray;
  font-family: "Merriweather", Georgia, serif;
  margin: 0;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  color: whitesmoke;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: 0.25rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

blockquote p {
  font-size: 1.3rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */
h1 {
  padding: 4rem 0 !important;
}
/*  === End gross hack */

p {
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #fafafa;
  font-size: 0.8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
}
/* customizing */
h2 {
  padding: 3rem 0;
  color: rgb(206, 105, 231);
}
h3 {
  color: rgb(219, 155, 235);
}
mark {
  background-color: orange;
  padding: 5px 0px;
}
