extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        //- requesting searchingBy, responding from videoController.js
        h3 Searching for : #{searchingBy}
    block video
        .search__videos
            //- if문 !
            if videos.length === 0
                h2 No Videos Found😢
            //- same as home template
            each nanana in videos           
                +videoBlock({
                    id: nanana.id,
                    titleee:nanana.title,
                    description:nanana.description,
                    views:nanana.views,
                    videoFile:nanana.fileUrl,
                })